@import '../variables';

.button{
  border: none;
  background-color: $yellow;
  color: $blue;
  width: 100%;
  border-radius: 4px;
  padding:0.5em;
  margin-top: 0.5em;
}

.label{
  font-size: 1em;
  font-weight: 500;
}

.price{
  font-size: 1em;
  font-weight: 500;
}