.container{
  margin:0;
}

.button{
  text-align: left;
  border: none;
  padding: 15px;
  background-color: #FFFFFF;
  color:#17317F;
  width: 100%;
}

.active, .button:hover{
  background-color: #17317F;
  color: #FFFFFF;
}

.bold{
  font-weight:bold;
}

.icon{
  float: right
}