@import '../variables';

.container{
  margin:0;
}

.button{
  text-align: left;
  border: none;
  padding: 15px;
  background-color: $white;
  color: $blue;
  width: 100%;
}

.active, .button:hover{
  background-color: $blue;
  color: $white;
}

.bold{
  font-weight:bold;
}

.icon{
  float: right
}