@import '../variables';

.container{
  position: absolute;
  background-color: $white;
  bottom:0;
  left: 0;
  padding: 0.5em;
  width: 50%
}

.descriptionBtn{
  border: none;
  background-color: $white;
  color: $blue;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

.chevron{
  float: right;
}

.chevronRot90{
  transform: rotate(90deg);
}

.toggleText{
  font-size: 0.8em;
}

.bold{
  font-weight: bold
}

.descriptionContainer{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: $white;
  padding: 1em;
  grid-row: span 2;
}

.title{
  font-size: 0.9em;
  color: $blue;
}

.text{
  color: $darkgrey;
  font-size: 0.8em;
}